/*universal selector */
* {
/*list-style: katakana;*/
}

japan ul li {
    list-style: katakana;/* the 'general'/'default' settings */
}

:root {
   font-size: 16pt;
}

header {
    border-bottom: 4px solid #d5d5d5;
    font-size: 1.1em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .75em;
    clear: both;
    height: 200px;
    position: relative;
    /*margin-top: -200px;*/
}

main{
    width: 80%;
    margin: 2em auto;
}

body {
    background: grey;
}

/*body style*/
crx {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-color: green;
    /*not supported - text-decoration-thickness: 5; */
}

/* Controls nav unordered lists (read: navar) and footer)
nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: bold;
}
*/

/*change color of header and footer hyperlinks*/
footer a{
    color: #00810F;
}

/*Controls the navigation bar style
nav ul li{
    display: inline;
    margin-right: 35px;
}
*/

.mygrid {

    margin: 1em 0;
    padding: 0;
    list-style: none;

    display:grid;
    grid: auto-flow / repeat(auto-fit,minmax(200px,1fr));
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: 1fr 1fr;*/

    /*gap == grid-gap. grid-gap being deprecated */
    grid-gap: 10px;
    gap: 10px;
}

.mygrid li {
    padding: 10px;
    text-align: center;
    border: none
    background: #f4f4f4;
}

.mygrid img {
    max-width: 100%;
}