/*universal selector */
* {
}

html, body {
  height: 100%;
  margin: 0;
}
.container {
  min-height: 87.5%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -15px;
}
.footer, .push {
  height: 15px;
}


.time{
font-size: 0.55rem;
}


/*creating small separation between navbar and text.*/
ul {
    /*display: block;*/
    /*margin-block-start: 1em;
    margin-block-end: 1em;*/
    padding-top: 20px; /*this is the one that works*/
}

/* Posts START: markdown conversion that doesn't mess with the rest of the site by using ul*/

ol li{
list-style: katakana;
}

/*hack for easier markdown writing*/
del{
text-decoration-line: none;
color: #606060;
font-size: 0.85rem;
border:0.1rem;
border-style:solid;
border-color:#bcbcbc;
margin-left: 15px; /*creates nice spacing when i put it at the end of a link or sentence, don't need to worry about &nbsp;*/
}

.dignifier {
list-style: katakana;
}

a {
color:#b0a6b9
}

:root {
   font-size: 16pt;
}

/*AOCsteroids customize map sizer*/
#textarea_push {
width:105%
/*padding: 1px;*/
}


/*before and after trial START*/


/*FOOTER START*/
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .75em;
    clear: both;
    height: 200px;
    position: relative;
    /*margin-top: -200px;*/
}

footer a{
    color: #a5a5a5;
}
/*FOOTER END*/

#canvas{
width: 100%;
height: 100%;
}


main{
/*
width: 90%;
margin: 2em auto;
*/
}


body {
    /*background-color: #e1e1d1;   !important;*/
    background: #f0ead6 !important;
    font-family: "Source Code Pro", monospace;
}

/*GENERAL body style start*/
crx {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-color: #d0c6d9;
    /*not supported - text-decoration-thickness: 5; */
}
a:hover {
    text-decoration: line-through blue;
}
/*this may require livesite to test, due to caching.*/
a:visited {
    font-style: italic;
    /*text-decoration: line-through green;*/
/*GENERAL body style END*/


/*change color of header and footer hyperlinks*/

/* Controls nav unordered lists (read: navar) and footer)*/
.nav-item{
    font-family:'Helvetica', 'Arial', 'Sans-Serif' !important;
    padding: 0px !important;
    font-weight: bold !important;
/*change color of header and footer hyperlinks*/
    color: #00810F !important;
/*Controls the navigation bar style*/
    display: inline !important;
    margin-right: 35px !important;

}

.mygrid {
    /* Override some default browser styles */
    margin: 1em 0;
    padding: 0;
    list-style: none;

    display:grid;
    grid: auto-flow / repeat(auto-fit,minmax(200px,1fr));
    align-items: baseline;

    /*gap == grid-gap. grid-gap being deprecated */
    grid-gap: 10px;
    gap: 10px;
}

.mygrid li {
    padding: 1px;
    text-align: center;
    border: 1px solid #e8e8e8;
    /*background: #000;*/
}

.mygrid img {
    max-width: 100%;
}