/*universal selector */
* {
/*list-style: katakana;*/
}

.dignifier {
list-style: katakana;
}

a {
color:#b0a6b9
}

:root {
   font-size: 16pt;
}

/*AOCsteroids customize map sizer*/
#textarea_push {
width:105%
/*padding: 1px;*/
}


/*

/*before and after trial START*/


/*FOOTER START*/
footer {
    border-top: 2px solid #000;
    font-size: .8em;
    clear: both; /**/
    height: 200px;
    position: relative; /*relative -> line goes to end. absolute line ends when text ends*/
    /*margin-top: -200px;*/
}
footer a{
    color: #d0c6d9F;
}
/*FOOTER END*/

#canvas{
width: 100%;
height: 100%;
}


main{
    width: 90%;
    margin: 2em auto;
}


body {
    background: #e5e5e5;
    font-family: "Source Code Pro", monospace;
}

/*GENERAL body style start*/
crx {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-color: #d0c6d9;
    /*not supported - text-decoration-thickness: 5; */
}
a:hover {
    text-decoration: line-through blue;
}
/*this may require livesite to test, due to caching.*/
a:visited {
    /*color: green;*/
    text-decoration: line-through green;
/*GENERAL body style END*/


/*change color of header and footer hyperlinks*/


.mygrid {
    /* Override some default browser styles */
    margin: 1em 0;
    padding: 0;
    list-style: none;

    display:grid;
    grid: auto-flow / repeat(auto-fit,minmax(200px,1fr));
    align-items: baseline;

    /*gap == grid-gap. grid-gap being deprecated */
    grid-gap: 10px;
    gap: 10px;
}

.mygrid li {
    padding: 5px;
    text-align: center;
    border: 1px solid #e8e8e8;
    /*background: #000;*/
}

.mygrid img {
    max-width: 100%;
}