#ephemeral_line {
min-height: 10.0em;	
/*position: relative; && padding: 30px;were used and discarded*/
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



div#wrapperHeader div#header {
 width:500px;
 height:300px;
 margin:0 auto;
}

div#wrapperHeader div#header img {
 width:; /* the width of the logo image */
 height:; /* the height of the logo image */
 margin:0 auto;
}

* { /* '*' selects ALL elements */
	box-sizing: border-box;
}
figure {
	padding: 0 1em;
	max-width: 33em;
}
img {
	display: block;
	width: 100%;
}




/*above paul below preset*/

.shadow {


}

body {
  background: #0f0f23; /*337 x 5*/
  color: #ffffff;
  font-family: "Source Code Pro", monospace;
  text-shadow: 1 1 3px #ffffff;
  font-size: 14pt;
  min-width: 60em;
}
/*
body {
	background-color: #d3d3d3;
    margin: 60px auto;
    width: 80%;
    font-size: 1.25em;
}
*/
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #008F11;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

/*
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
*/
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
header {
    border-bottom: 5px solid #d5d5d5;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
