* {
/*list-style: katakana;*/
}

/* all unordered list entries */
ul li {
    list-style: katakana;/* the 'general'/'default' settings */
}

/* works with any <crx>...</crx/>. crx short for crossout */
/*NOT COMMONLY SUPPORTED - Shorthandtext-decoration: underline solid blue 1px;*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-thickness*/
crx {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-color: green;
    /*not supported text-decoration-thickness: 5; */
}

/*short for washout*/
wsh {
  1px 0px 9px #ffffff
}

/* all unordered nested list entries */
ul li ul li {
    list-style: khmer;
}

body {
  background: #0D0208; /*337 x 5*/
  color: #bbb;
  font-family: "Source Code Pro", monospace;
  text-shadow: 0 0 0px #000;
  font-size: 14pt;
  min-width: 60em;
}

figure {
	padding: 0 1em;
	max-width: 33em;
}
img {
	display: block;
    }
/* Controls nav unordered lists (read: navar) and footer)*/
nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: bold;
}
nav ul a, footer a{
    color: #00810F;
}



/*Controls the navigation bar style*/
nav ul li{
    display: inline;
    margin-right: 35px;
}


a {
    text-decoration: none;
    color: #00B12D;
}
a:hover {
    text-decoration: line-through blue;
}
/*this may require livesite to test, due to caching.*/
a:visited {
    /*color: green;*/
    text-decoration: line-through green;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .75em;
}
header {
    border-bottom: 4px solid #d5d5d5;
    font-size: 1.1em;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    list-style: circle;
}

ul.posts li {
    list-style: square;
}
