<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv.html">CV</a></li>
					<li><a href="/levenshtein.html">Levenshtein's Distance</a></li>
					<li><a href="/randombookgenerator.html">Random Book Generator</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:p.rozehnal@gmail.com">Gmail</a></li>
	        		<li><a href="https://github.com/PaulKania">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
